* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.verificar-pessoa {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);

}

.foto {
    margin-left: 4%;
    width: 350px;
    height: 550px;
    object-fit: cover;
    border-radius: 14px;
}

.formes {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-right: 23%;
    height: inherit;
    padding: 0.2% 0.2% 0.2% 1%;
    font-size: large;
}

.camp {
    border: none;
    padding: 0.2% 4% 0.2% 1%;
    border-radius: 14px;
    width: 100%;
    font-size: large;
    margin: 0 0 2% 0;
    background-color: rgba(137, 43, 226, 0.795);
    color: aliceblue;
}

input::placeholder {
    color: rgb(255, 255, 255);
}

.enviar {
    border: none;
    width: 50%;
    padding: .6%;
    border-radius: 14px;
    color: aliceblue;
    background-color: blueviolet;
    font-size: medium;
    cursor: pointer;
}