.nos {
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 32, 32);
    height: 100%;
    width: 100%;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33%;
    width: 50%;
}

.redes {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.foto {
    height: 500px;
    width: 400px;
    object-fit: contain;
}

.icon {
    width: 50px;
}