.noticia {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 5vh 5vw;
}

.conteiner {
    color: aliceblue;
    height: 100%;
    max-width: 100%;
    border-radius: 14px;
    background-color: rgba(137, 43, 226, 0.575);
    padding: 2% 1%;
}

.conteiner a {
    color: rgb(0, 183, 255);
}

.conteiner h2{
    text-align: center;
    margin-bottom: 1%;
}

.sb{
    margin: 1% 37%;
    background-color: rgb(27, 0, 53);
    color: aliceblue;
    width: 25%;
    font-size: larger;
    cursor: pointer;
    border: none;
    border-radius: 14px;
}