.ruler{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 49%;
    padding: 6% 0 0 1% ; 

}
.compra{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 49%;
    padding: 6% 0 0 1% ; 
}

.discricao-ev{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 6% 1% 5% 1% ; 

}

.btn{
    margin-top: 5%;
    width: 25%;
    padding: .6%;
    border-radius: 14px;
    color: aliceblue;
    background-color: blueviolet;
    font-size: medium;
    cursor: pointer;
}
p{
    font-size: larger;
}