* {padding: 0;
    margin: 0;
    border: none;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(32, 32, 32);
}


.nav-bar {
    width: 100%;
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    align-items: center;
}

.vad{
    color: aliceblue;
    text-decoration: none;
}

.vad:hover {
    transition: color 0.5s;
    cursor: pointer;
    color: blueviolet;
}


.site-footer {
    background-color: black;
    color: #b0b3b8;
    padding: 40px 20px;
    text-align: center;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.footer-nav li {
    margin: 0 15px;
}

.footer-nav a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #ffffff;
}

.copyright-text {
    cursor: default;
    font-size: 0.9em;
}